body {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif;
	background-color: #720000;
	background-image: url('../images/bg.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 900px 900px;
}

div {
	display: block;
}

#wrapper {
	position: absolute;
	width: 100%;
}

.slide-shadow {
	position: relative;
	width: 100%;
	height: 436px;
	margin: 0 auto;
}

.shadow {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 137px;
	box-shadow: inset 0 -100px 137px -137px #000000;
}

.title, .text {
	position: relative;
	width: 100%;
}

.title img{
	display: block;
	margin: 40px auto 0;
}

.text {
	margin: 0 auto;
	width: 480px;
}

.text p {
	margin: 70px auto 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text p a{
	color: #ff0007;
	text-decoration: none;
}

.text p:last-child {
	margin-top: 10px;
}

.logo {
	width: 100%;
	margin: 20px auto 5px;
}

.donate {
	padding-bottom: 50px;
}

/* Slider Overrides */
.theme-orman.slider-wrapper {
	position: relative;
	background-image: none;
	padding-top: 0;
	top: 0;
	left: 0;
}

.theme-orman .nivoSlider {
	margin-left: 0;
	box-shadow: inset 0 0 20px #000000;
}

.theme-orman .nivoSlider img {
	width: 590px;
	height: 436px;
}

.theme-orman .nivo-directionNav a {
	top: 155px;
}

.theme-orman .nivo-controlNav {
	margin-left: -85px;
}

.theme-orman a.nivo-nextNav {
	padding-right: 0;
	right: -1px;
	background-image: url('../images/nav_next.png');
	background-position: 0 0;
	width: 32px;
	top: 180px;
}

.theme-orman a.nivo-prevNav {
	padding-left: 0;
	left: 1px;
	background-image: url('../images/nav_prev.png');
	background-position: 0 0;
	width: 30px;
	top: 180px;
}

/* Media Queries */
@media (max-width: 768px) {
	.theme-orman.slider-wrapper {
		/*width: 80%;*/
		/*height: 375px;*/
		left: 0;
		width: 480px;
		height: 300px;
	}

	div#slider.nivoSlider {
		margin: 0 auto;
		/*background-size: 100%;*/
	}

	.slide-shadow {
		height: 355px;
	}

	.logo {
		padding-bottom: 20px;
	}

	#slider .nivo-slice {
		left: 0 !important;
	}

	.theme-orman .nivo-controlNav {
		bottom: 0;
	}

	.theme-orman .nivo-directionNav a {
		top: 140px;
	}

	.theme-orman a.nivo-nextNav {
		right: -6px;
	}

	.theme-orman a.nivo-prevNav {
		left: -6px;
	}

	div#slider.nivoSlider,
	.nivo-slice {
		width: 100% !important;
		height: 400px !important;
		background-size: 100% !important;
	}
}

@media (max-width: 600px) {
	.slide-shadow {
		height: 333px;
	}
	.theme-orman.slider-wrapper {
		width: 100%;
	}

	div#slider.nivoSlider {
		margin: 0 auto;
	}

	div#slider.nivoSlider,
	.nivo-slice {
		width: 450px !important;
		height: 360px !important;
		background-size: 100% !important;
	}

	.theme-orman .nivo-directionNav a {
		top: 130px;
	}

	.nivo-controlNav {
		margin-left: -75px !important;
	}

	.theme-orman a.nivo-nextNav,
	.theme-orman a.nivo-prevNav {
		background-size: 100% auto;
		width: 25px;
	}

	.theme-orman a.nivo-nextNav {
		right: -1px;
	}

	.theme-orman a.nivo-prevNav {
		left: -1px;
	}

	.title img {
		width: 90%;
		height: auto;
	}

	.text, .logo {
		width: 100%;
	}

	.text p {
		padding: 0 10px;
	}
}

@media (max-width: 500px) {
	.slide-shadow {
		height: 192px;
	}

	div#slider.nivoSlider {
		margin: 0 auto;
		/*left: 10px;*/
		width: 260px;
	}

	div#slider.nivoSlider,
	.nivo-slice {
		width: 260px !important;
		height: 230px !important;
		background-size: 100% !important;
	}

	.theme-orman .nivo-directionNav a {
		top: 70px;
	}

	.nivo-controlNav {
		margin-left: -75px !important;
	}

	.theme-orman a.nivo-nextNav,
	.theme-orman a.nivo-prevNav {
		background-size: 100% auto;
		width: 17px;
	}

	.theme-orman a.nivo-nextNav {
		right: -4px;
	}

	.theme-orman a.nivo-prevNav {
		left: -4px;
	}

	.title img {
		width: 300px;
	}
}
