body {
	padding: 0;
	margin: 0;
	font-family: Arial , Verdana, Helvetica, sans-serif;
	background-color: #ffffff;
	height: 100%;
	/* max-height: 1845px; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('../images/bg.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 80%;
}

div, img {
	display: block;
}

#wrapper {
	margin: 0 auto;
	padding: 20px 0 0;
	width: 100%;
}

.heading {
	margin: 0 auto;
	width: 100%;
	height: 291px;
	max-width: 881px;
	background-image: url('../images/earth.gif');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 99%;
}

.heading img {
	margin: 0 auto;
}

.heading p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 20px auto 0;
	width: 80%;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

@-moz-document url-prefix() {
	.heading p {
		margin: 7px auto 0;
		width: 83%;
		font-size: 19px;
		line-height: 25px;
	}
}

.cta {
	padding-top: 50px;
}

@-moz-document url-prefix() {
	.cta {
		padding-top: 55px;
	}
}

.cta p {
	margin: 0 auto;
	width: 100%;
	font-size: 20px;
	line-height: 30px;
	color: #4c4c4c;
	text-align: left;
}

.cta p:last-child {
	display: inline-block;
}

.cta img {
	float: right;
}

.woman-child {
	position: relative;
	z-index: 3;
	bottom: 0;
	margin: -60px auto 0;
	display: block;
	width: 100%;
	max-width: 670px;
	height: auto;
}

.woman-child img {
	width: 100%;
	height: auto;
}

/* Slider Overrides */
.theme-orman.slider-wrapper {
	position: relative;
	background-image: none;
	height: auto;
	background-color: #ffffff;
	padding-top: 0;
	left: 0;
	border: 20px solid #ffffff;
	box-shadow: 0 0 20px #d8d8d8;
}

.theme-orman .nivoSlider {
	margin-left: 0;
	width: 590px;
	height: 392px;
	box-shadow: inset 0 0 150px 40px #333333;
	background-size: 100%;
}

.theme-orman .nivo-slice {
	box-shadow: inset 0 0 150px 40px #333333;
	background-size: 100%;
	width: 100%;
	height: 100%;
}

.theme-orman .nivo-directionNav a {
	top: 155px;
}

.theme-orman .nivo-controlNav {
	margin-left: -85px;
	bottom: -25px;
}

.theme-orman a.nivo-nextNav,
.theme-orman a.nivo-prevNav {
	background-size: 60%;
	width: 30px;
	height: 46px;
	top: 183px;
}

.theme-orman a.nivo-prevNav {
	background-position: center right;
	padding-left: 0;
	left: -55px;
	background-image: url('../images/prev_nav.png');
	background-color: #ffffff;
	padding: 10px 0 10px 5px;
	border-radius: 70px 0 0 70px;
	box-shadow: -8px 0 8px 0px #eeeeee;
}

.theme-orman a.nivo-nextNav {
	background-position: center left;
	padding-right: 0;
	right: -55px;
	background-image: url('../images/next_nav.png');
	background-color: #ffffff;
	padding: 10px 0 10px 5px;
	border-radius: 0 70px 70px 0;
	box-shadow: 8px 0 8px #eeeeee;
}

div.nivo-caption {
	background-color: transparent;
	opacity: 1 !important;
}

.nivo-caption p {
	color: #ffffff;
	font-size: 22px;
	line-height: 28px;
}

/* Media Queries */
@media (min-width: 1700px) {
	body {
		background-size: 1100px;
	}
}

@media (max-width: 1040px) {
	body {
		background-size: 940px;
	}
}

@media (max-width: 881px) {
	body {
		background-size: 800px;
	}

	.heading {
		height: auto;
		padding: 10px 0 10px;
	}

	.heading img {
		width: 65%;
		height: auto;
	}

	.heading p {
		margin: 10px auto 0;
		width: 97%;
		font-size: 16px;
		line-height: 20px;
	}

	.nivo-caption p {
		color: #ffffff;
		font-size: 15px;
		line-height: 20px;
	}

	.cta {
		padding-top: 40px;
	}

	.cta p {
		font-size: 15px;
		line-height: 20px;
	}

	.cta img {
		width: 55%;
		height: auto;
	}
}

@media (max-width: 700px) {
	.theme-orman.slider-wrapper {
		width: 445px;
		height: auto;
	}

	.theme-orman .nivoSlider,
	.theme-orman .nivoSlider img,
	.theme-orman .nivo-slice {
		width: 445px;
		height: 300px;
		background-size: 100% !important;
		box-shadow: inset 0 -40px 60px #111111;
	}

	.theme-orman .nivoSlider {
		width: 100%;
	}
	.theme-orman .nivoSlider img {
		width: 100% !important;
	}

	.theme-orman .nivo-slice {
		width: 100% !important;
	}

	.theme-orman a.nivo-nextNav,
	.theme-orman a.nivo-prevNav {
		width: 15px;
		top: 140px;
		padding: 5px 0 5px 12px;
	}

	.theme-orman a.nivo-prevNav {
		left: -40px;
	}

	.theme-orman a.nivo-nextNav {
		right: -40px;
	}

	.cta p {
		font-size: 12px;
		line-height: 15px;
	}
}

@media (max-width: 520px) {
	body {
		background-size: 700px;
	}
	#wrapper {
		padding-top: 0;
	}

	.heading {
		background-size: 150%;
	}

	.heading img {
		width: 85%;
	}

	.theme-orman.slider-wrapper {
		width: 270px;
		height: auto;
		border: 5px solid #ffffff;
	}

	.theme-orman .nivoSlider,
	.theme-orman .nivoSlider img,
	.theme-orman .nivo-slice {
		width: 100%;
		height: 185px;
		background-size: 100% !important;
		box-shadow: inset 0 -40px 60px #111111;
	}

	.theme-orman a.nivo-nextNav, .theme-orman a.nivo-prevNav {
		width: 10px;
		height: 20px;
		top: 70px;
		padding: 5px 0 5px 5px;
	}

	.theme-orman a.nivo-prevNav {
		left: -20px;
	}

	.theme-orman a.nivo-nextNav {
		right: -20px;
	}

	.nivo-caption p {
		font-size: 12px;
		line-height: 14px;
	}

	.cta p {
		width: 95%;
	}

	.woman-child {
		margin-top: -30px;
	}
}

/* @media (max-width: 768px) {
	#wrapper {
		width: 580px;
		height: 1029px;
	}

	.heading img {
		width: 350px;
	}

	.heading p {
		font-size: 13px;
		line-height: 16px;
	}

	@-moz-document url-prefix() {
		.heading p {
			font-size: 10px;
		}
	}

	.theme-orman.slider-wrapper {
		width: 330px !important;
		height: 219px !important;
	}

	.theme-orman .nivoSlider {
		width: 330px !important;
		height: 219px !important;
		background-size: 100% !important;
	}

	.theme-orman .nivoSlider img,
	.theme-orman .nivo-slice {
		width: 100% !important;
		height: 219px !important;
		background-size: 100% !important;
	}

	.theme-orman a.nivo-nextNav,
	.theme-orman a.nivo-prevNav {
		width: 10px;
		top: 102px;
	}

	.theme-orman a.nivo-prevNav {
		padding-left: 0;
		left: -25px;
	}

	.theme-orman a.nivo-nextNav {
		padding-right: 0;
		right: -25px;
	}

	.nivo-caption p {
		color: #ffffff;
		font-size: 12px;
		line-height: 16px;
	}

	.cta p {
		font-size: 12px;
		line-height: 16px;
	}

	.cta img {
		padding-top: 5px;
		padding-right: 10px;
		width: 45%;
		height: auto;
	}
}

@media (max-width: 580px) {
	#wrapper {
		width: 500px;
		height: 887px;
	}

	.heading img {
		width: 280px;
	}

	.heading p {
		font-size: 11px;
		line-height: 13px;
	}

	@-moz-document url-prefix() {
		.heading p {
			font-size: 9px;
		}
	}

	.theme-orman.slider-wrapper {
		width: 280px !important;
		height: 186px !important;
	}

	.theme-orman .nivoSlider {
		width: 280px !important;
		height: 186px !important;
		background-size: 100% !important;
	}

	.theme-orman .nivoSlider img,
	.theme-orman .nivo-slice {
		width: 100% !important;
		height: 186px !important;
		background-size: 100% !important;
	}

	.theme-orman a.nivo-nextNav,
	.theme-orman a.nivo-prevNav {
		top: 89px;
	}

	.nivo-caption p {
		font-size: 10px;
		line-height: 13px;
	}

	.cta p {
		width: 56%;
		font-size: 10px;
		line-height: 13px;
	}

	.cta img {
		padding-top: 5px;



	}
}

@media (max-width: 440px) {
	#wrapper {
		width: 380px !important;
		height: 674px !important;
	}

	.heading img {
		width: 200px;
	}

	.heading p {
		margin-top: 7px;
		width: 85%;
		font-size: 9px;
		line-height: 11px;
	}

	@-moz-document url-prefix() {
		.heading p {
			font-size: 8px;
		}
	}

	.theme-orman.slider-wrapper {
		top: 15px;
		width: 220px !important;
		height: 100px !important;
	}

	.theme-orman .nivoSlider,
	.theme-orman .nivoSlider img,
	.theme-orman .nivo-slice {
		width: 100% !important;
		height: 145px !important;
		background-size: 100% !important;
	}

	.theme-orman a.nivo-nextNav,
	.theme-orman a.nivo-prevNav {
		width: 8px;
		top: 65px;
	}

	.theme-orman a.nivo-prevNav {
		left: -15px;
	}

	.theme-orman a.nivo-nextNav {
		right: -15px;
	}

	.theme-orman .nivo-controlNav {
		margin-left: -70px;
		bottom: -15px;
	}

	.nivo-caption p {
		font-size: 8px;
		line-height: 9px;
	}

	.cta p {
		padding-left: 0;
		padding-top: 28px;
		font-size: 8px;
		line-height: 9px;
	}

	.cta p:last-child {
		padding-top: 0;
		margin-top: -3px;
	}

	.cta img {
		padding-top: 0;
		width: 50%;
		height: auto;
	}
}

@media (max-width: 320px) {
	#wrapper {
		width: 320px !important;
		height: 568px !important;
	}

	.heading {
		padding-top: 10px;
	}

	.heading img {
		width: 160px;
	}

	.heading p {
		margin-top: 7px;
		width: 85%;
		font-size: 8px;
		line-height: 11px;
	}

	.theme-orman.slider-wrapper {
		top: 15px;
		width: 180px !important;
		height: 120px !important;
	}

	.theme-orman .nivoSlider,
	.theme-orman .nivoSlider img,
	.theme-orman .nivo-slice {
		width: 100% !important;
		height: 120px !important;
		background-size: 100% !important;
	}

	.theme-orman a.nivo-nextNav,
	.theme-orman a.nivo-prevNav {
		width: 6px;
		top: 55px;
	}

	.nivo-caption p {
		font-size: 7px;
		line-height: 8px;
	}

	.cta {
		padding-top: 35px;
	}

	.cta p {
		width: 58%;
		padding-left: 0;
		padding-top: 0;
		padding-right: 0;
		font-size: 7px;
		line-height: 8px;
	}

	.cta p:last-child {
		padding-top: 0;
		margin-top: -5px;
	}
} */
