body {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif;
	background-color: #201305;
	background-image: url('../images/bg.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}

div {
	display: block;
}

#wrapper {
	position: absolute;
	width: 100%;
}

.title, .text {
	position: relative;
	width: 100%;
}

.title img{
	display: block;
	margin: 20px auto 0;
	padding-left: 30px;
}

.text {
	margin: 0 auto;
	width: 470px;
}

.text img{
	display: block;
	margin: 100px auto 0;
	padding-left: 30px;
}

.text p {
	margin: 20px auto 0;
	// width: 24%;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text p a{
	color: #ff0007;
	text-decoration: none;
}

.text p:last-child {
	margin-top: 10px;
}

.title img{
	display: block;
	margin: 20px auto 0;
	padding-left: 30px;
}

.logo {
	width: 100%;
	margin: 20px auto;
}

/* Slider Overrides */
.theme-orman.slider-wrapper {
	position: relative;
	background-image: none;
	padding-top: 0;
	top: 59px;
	left: 21px;
}

.theme-orman .nivoSlider img {
	width: 502px;
	height: 375px;
}

.theme-orman .nivo-directionNav a {
	top: 155px;
}

.theme-orman .nivo-controlNav {
	margin-left: -85px;

	// display: none;
}

.theme-orman a.nivo-nextNav {
	padding-right: 0;
	right: -27px;
	background-image: url('../images/nav_next.png');
	background-position: 0 0;
	width: 27px;
}

.theme-orman a.nivo-prevNav {
	padding-left: 0;
	left: -26px;
	background-image: url('../images/nav_prev.png');
	background-position: 0 0;
	width: 27px;
}

/* Media Queries */
@media (max-width: 768px) {
	#wrapper,
	.theme-orman.slider-wrapper {
		width: 100%;
		height: 375px;
		left: 0;
	}

	div#slider.nivoSlider {
		margin: -3px 0 0 155px;
		background-size: 100%;
	}

	.title img{
		width: 80%;
		height: auto;
	}

	.text img {
		padding-top: 30px;
	}

	.logo {
		padding-bottom: 20px;
	}

	#slider .nivo-slice {
		left: 0 !important;
	}
}

@media (max-width: 760px) {
	body {
		background-size: 850px;
	}

	.theme-orman.slider-wrapper {
		height: 300px;
	}

	.theme-orman .nivo-controlNav {
		bottom: 0;
	}

	.theme-orman .nivo-directionNav a {
		top: 110px;
	}

	div#slider.nivoSlider {
		margin: -20px auto 0;
		left: 16px;
	}

	div#slider.nivoSlider,
	.nivo-slice {
		width: 357px !important;
		height: 310px !important;
		background-size: 100% !important;
	}

	.title img {
		width: 400px;
		height: auto;
	}

	.text img {
		margin-top: 70px;
		padding-top: 30px;
	}
}

@media (max-width: 570px) {
	body {
		background-size: 550px;
	}

	div#slider.nivoSlider {
		margin: -37px auto 0;
		left: 10px;
	}

	div#slider.nivoSlider,
	.nivo-slice {
		width: 230px !important;
		height: 200px !important;
		background-size: 100% !important;
	}

	.theme-orman .nivo-directionNav a {
		top: 60px;
	}

	.theme-orman a.nivo-nextNav,
	.theme-orman a.nivo-prevNav {
		background-size: 100% auto;
		width: 17px;
	}

	.theme-orman a.nivo-nextNav {
		right: -17px;
	}

	.theme-orman a.nivo-prevNav {
		left: -17px;
	}

	.title img {
		padding-left: 0;
		width: 230px;
		height: auto;
	}

	.text, .logo {
		width: 100%;
	}

	.text p {
		padding: 0 10px;
	}

	.text img {
		padding-left: 0;
		padding-top: 0;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		width: 250px;
		height: auto;
	}
}